@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply m-auto flex flex-col gap-9 md:w-full md:max-w-2xl lg:grid lg:max-w-3xl lg:grid-cols-2 lg:gap-y-24 2xl:max-w-7xl;
}

.bill {
  grid-area: bill;
}

.saba {
  grid-area: saba;
}

.shae {
  grid-area: shae;
}

.skylah {
  grid-area: skylah;
}

.griff {
  grid-area: griff;
}

.stan {
  grid-area: stan;
}

.gallery {
  @apply grid grid-cols-2 grid-rows-layout gap-x-6 gap-y-4 lg:col-span-2 lg:gap-x-12 2xl:gap-x-24;
  grid-template-areas:
    "bill ."
    ". saba"
    "shae ."
    ". skylah"
    "griff ."
    ". stan";
}

@media screen and (min-width: 64em) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 3rem auto 3rem);
    grid-template-areas:
      "bill . shae"
      "bill saba shae"
      ". saba ."
      "skylah . stan"
      "skylah griff stan"
      ". griff .";
  }
}

@media (min-width: 1536px) {
  .gallery {
    grid-template-rows: repeat(2, 4rem auto 4rem);
  }
}

.gallery__person {
  @apply grid;
  grid-template-columns: auto min-content;
  grid-template-rows: min-content;
}

.person__role {
  @apply col-start-2 font-pt text-xxs uppercase 2xl:text-xs;
  writing-mode: vertical-lr;
}

.person__img {
  @apply row-start-1 w-full;
}

.person__name {
  @apply col-span-2 mt-3 text-sm font-fw-600 2xl:text-lg;
}
